 <%- include('partials/header.ejs') %>


  <div class="container">
   <div class="back bg-light text-secondary px-4 py-5 text-center">
    <div class="py-5">
     <!-- <h1 class="display-5 fw-bold text-white">Welcome to Blog Host</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">This is your personal space to share thoughts, ideas, and stories with the world. Here’s how you can use this blog application:
        </p>
        <ul>
          <li><strong>Create a New Post:</strong> Click on the "Create Blog" button below to start writing a new blog post. Provide a title and content, and then hit "Create Post" to publish it.</li>
          <li><strong>Edit an Existing Post:</strong> If you need to make changes to a post, click the "Edit" button next to the post. Make your updates and save the changes.</li>
          <li><strong>Delete a Post:</strong> If you want to remove a post, click the "Delete" button next to the post. Be careful, as this action cannot be undone.</li>
      </ul>
      <p class="mb-0">Enjoy blogging and sharing your thoughts!</p>

        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a href="/create" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Create Blog</a>
          <a href="/posted" class="btn btn-outline-light btn-lg px-4">Posted Blog</a>-->

      <h1 class="alert-heading myhead">Welcome to the B-APP!</h1>
        <p class="text-dark">This is your personal space to share thoughts, ideas, and stories with the world. Here’s how you can use this blog application:</p>
        <hr>
        <ul class="list-unstyled text-dark">
            <li><strong>Create a New Post:</strong> Click on the "Create Blog" button below to start writing a new blog post. Provide a title and content, and then hit <br> "Create Post" to publish it.</li>
            <li><strong>Edit an Existing Post:</strong> If you need to make changes to a post, click the "Edit" button next to the post. Make your updates  <br> and save the changes.</li>
            <li><strong>Delete a Post:</strong> If you want to remove a post, click the "Delete" button next to the post. Be careful, as this action cannot be undone.</li>
        </ul>
        <p class="mb-0 text-dark">Enjoy blogging and sharing your thoughts!</p>
    </div>
    <a href="/create" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold mb-3">Create Blog</a>
    <div class="posts">
        
        </div>
      </div>
    </div>
  </div>
  </div>
  <!--features-->
  <!--including footer in our website-->
     <%- include('partials/footer.ejs') %>
